*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav ul{
    background: rgb(18, 165, 188);
    display: flex;
    list-style: none;
    padding: 30px;
    }
nav ul li a {
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}
nav ul li a:hover{
    background: rgb(242, 43, 136);
}
header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}
.home-box{
    display: flex;
    justify-content: space-evenly;
}
.home-box .card1{
    width: 300px;
    height: 190px;
    background: powderblue;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card1 h2{
    margin: 18px 0px 0px 15px;
}
/* homepage */
.about-box{
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 18px 0px 30px 18px;
    font-size: 45px;
    margin-left: 20px;
    background: rgb(246, 218, 246);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.contain{
    margin-left: 25px;
}
.content {
    padding: 2%;
    width: 70%;  
}
.about-container {
    display: flex;
}
.side-box {
    gap: 50px;
    margin: 20px 0px 0px 18px ;
}
.card {
    width: 300px;
    height: 25vh;
    border-radius: 10px;
    margin: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(215, 248, 215);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/* SERVICE PAGE */
table{
    width: 70%;
    height: 50vh;
    border-collapse: collapse;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
table caption{
    font-size: 30px;
    margin-bottom: 30px;
}
th td{
    padding: 40px;
}
th:nth-child(1), td:nth-child(1){
    background-color: rgba(20, 224, 238);
}
th:nth-child(2), td:nth-child(2){
    background-color: rgba(20, 162, 181);
}
th:nth-child(3), td:nth-child(3){
    background-color: rgb(20, 136, 152);
}
th:nth-child(4), td:nth-child(4){
    background-color: rgb(20, 101, 110);
}





